@import url(./cabecalho.css);
@import url(./conteudo.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
}

.tit-sec{
    text-align: center;
    font-size: 0.5em;
}

.conteudo{
    
}
